<h1><%=@dice%>d<%=@sides%></h1>
<a href ="/process_roll?dice=<%=@dice%>&sides=<%=@sides%>">Roll again</a> | <a href= "/">Go back home</a>
<ol> 
<% @arr.each do |roll| %>
  <li font-style: italic>
  Result: <%=roll %>
  </li>
<% end %>


</ol>
